* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

/*************************************/
/*            POSITIONING            */
/*************************************/
.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 3.5fr 0.5fr;
  grid-template-columns: 0.5fr 4fr 1.5fr;
}
.header {
  grid-area: 1/1/3/2;
}
.main {
  grid-area: 1/2/3/3;
  background-color: olivedrab;
}
.personal-info-section {
  grid-area: 1/3/2/4;
  display: grid;
  flex-direction: column;
  padding-left: 1.2rem;
}
.other-blogs-section {
  grid-area: 2/3/3/4;
  margin-top: 2.4rem;
}
.footer {
  grid-area: 3/1/4/4;
}
/*************************************/
/*              GENERAL              */
/*************************************/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 1.6rem;
  color: #555;
}

.other-blogs-titles {
  margin-bottom: 1.2rem;
  padding-top: 0.8rem;
  padding-left: 0.4rem;
  font-size: 1.4rem;
}
/*************************************/
/*            NAVEGATION             */
/*************************************/
.nav-ul {
  list-style-type: none;
  flex-direction: column;
  gap: 4.8rem;
}

.nav-icons {
  font-size: 2.4rem;
}

/*************************************/
/*         Personal Section          */
/*************************************/
.personal-info-container {
  justify-content: flex-start;
  flex-grow: 1.25;
  gap: 4.8rem;
}

.personal-img {
  height: 8.6rem;
  width: 8.6rem;
  object-fit: fill;
  border-radius: 100%;
}

.personal-info {
  flex-direction: column;
  align-items: baseline;
  gap: 0.5rem;
}

.personal-name {
  font-size: 2.4rem;
}

.work-place {
  color: lightslategray;
}

.job-title {
  font-family: "IBM Plex Mono", monospace;
}

.bio-title {
  margin-bottom: 1.6rem;
}

.bio-content {
  /* overflow: hidden; this is for the home page */
  margin-left: 1.2rem;
  padding-right: 2.4rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* Social Media */

.social-media-list {
  list-style-type: none;
  gap: 3.2rem;
  font-size: 2rem;
}
/*************************************/
/*          Blog Section             */
/*************************************/

.other-blogs-title {
  padding-left: 1.2rem;
  margin-bottom: 2.4rem;
}

.box-shadow {
  border-radius: 5px;
  box-shadow: 0 7px 10px 0 rgb(0 0 0 / 9%);
}
.other-blogs-container {
  flex-direction: column;
  padding: 0 2.4rem 0 2.4rem;
}

.other-blogs-list {
  flex-direction: column;
  list-style-type: none;
  gap: 2.4rem;
}

.blog-content {
  padding-left: 1.2rem;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #bababa;
  overflow: hidden;
}

.blog-date-created {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
}

/*************************************/
/*                      */
/*************************************/

/*************************************/
/*          Footer Container         */
/*************************************/
.footer {
  align-items: end;
}
.corporation {
  font-size: 1.4rem;
  font-weight: 500;
  color: #bababa;
  margin-bottom: 1.6rem;
}
