* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 93% 7%;
}

/*******************************/
/*          GENERAL            */
/******************************/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******************************/
/*            Nav             */
/******************************/
.header {
  background-color: #ebebeb;
  min-width: 100%;
  grid-area: 2/1/3/2;
  justify-self: center;
  align-self: center;
  box-shadow: 7px 0 10px 0 rgb(0 0 0 / 9%);
  z-index: 999;
  position: fixed;
  bottom: 0;
}

.nav {
  height: 100%;
}

.nav-ul {
  padding: 2rem;
  min-width: 100%;
  justify-content: space-between;
  list-style-type: none;
}

.icons-nav {
  font-size: 2rem;
  font-weight: 300;
}

/*******************************/
/*            Main             */
/******************************/
main {
  max-width: 90vw;
  margin: 0 auto 4.8rem auto;
}
.section-card-container {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  grid-area: 1/1/2/2;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 0.35fr;
  border-radius: 5px;
  box-shadow: 0 7px 10px 0 rgb(0 0 0 / 9%);
}

.last {
  margin-bottom: 3.2rem;
}

/* USER SECTION */
.user {
  grid-area: 1/1/2/2;
  height: 8vh;
  min-width: 70vw;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-img {
  height: 3.6rem;
  width: 3.6rem;
  margin-left: 0.8rem;
  background-color: blue;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.read-time {
  font-weight: 300;
  font-family: "IBM Plex Mono", monospace;
  letter-spacing: -0.05rem;
}

.time-posted-container {
  margin-left: 2rem;
}

.time-posted {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "IBM Plex Mono", monospace;
}

.follow {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20vw;
  grid-area: 1/2/2/3;
}

.btn {
  background-color: #6d14c5;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  color: #ebebeb;
}
/* POST SECTION */
.post-img {
  grid-area: 2/2/3/3;
}

.photo {
  width: 100%;
  object-fit: fill;
}

.img-src {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.post {
  grid-area: 2/1/3/2;
  margin: auto 0.4rem;
  padding: 0.4rem;
}
.post-content {
  display: none;
}

/* SOCIAL ENGAGEMENT */
.social-engagement {
  grid-area: 3/1/4/3;
  margin: auto 2rem;
  padding: 0.2rem;
}

.social-engagament-list {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 4.8rem;
  list-style-type: none;
}

.icons-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.icons {
  font-size: 1.6rem;
  color: #949494;
  font-weight: 300;
}

.filled {
  color: #6d14c5;
}

.icon-tracker {
  font-size: 1.2rem;
}

/*******************************/
/*            Footer             */
/******************************/
footer {
  display: none;
}
