* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

/*************************************/
/*            POSITIONING            */
/*************************************/
.grid-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 2.5fr 3.5fr 0.35fr;
  grid-template-columns: 0.25fr 4fr 1.5fr;
}
.header {
  grid-area: 1/1/3/2;
  justify-self: end;
}
.main {
  grid-area: 1/2/3/3;
}
.personal-info-section {
  grid-area: 1/3/2/4;
  display: grid;
  flex-direction: column;
  grid-template-rows: 2fr 1.5fr 0.5fr;
  padding-left: 1.2rem;
}
.other-blogs-section {
  grid-area: 2/3/3/4;
  margin-top: 6.4rem;
}
.footer {
  grid-area: 3/1/4/4;
}
/*************************************/
/*              GENERAL              */
/*************************************/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titles {
  font-weight: 600;
  font-size: 1.6rem;
  color: #555;
}

.other-blogs-titles {
  margin-bottom: 1.2rem;
  padding-top: 0.8rem;
  padding-left: 0.4rem;
  font-size: 1.4rem;
}

.IBM {
  font-family: "IBM Plex Mono", monospace;
}
/*************************************/
/*            NAVEGATION             */
/*************************************/
.nav-ul {
  list-style-type: none;
  flex-direction: column;
  gap: 4.8rem;
}

.nav-icons {
  font-size: 2.4rem;
}

/*************************************/
/*         Personal Section          */
/*************************************/

/* ---> Personal-info-container  */
.personal-info-container {
  justify-content: flex-start;
  flex-grow: 1.25;
  gap: 4.8rem;
}
.personal-img {
  height: 8.6rem;
  width: 8.6rem;
  object-fit: fill;
  border-radius: 100%;
}
.personal-info {
  flex-direction: column;
  align-items: baseline;
  gap: 0.5rem;
}
.personal-name {
  font-size: 2.4rem;
}
.work-place {
  color: lightslategray;
}

/* ---> Bio  */
.bio-title {
  margin-bottom: 1.6rem;
}

.bio-content {
  /* overflow: hidden; this is for the home page */
  margin-left: 1.6rem;
  padding-right: 2.4rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* ---> Social Media  */
.social-media {
  align-self: center;
}
.social-media-list {
  list-style-type: none;
  gap: 3.2rem;
  font-size: 2rem;
}
/*************************************/
/*          Other Blog Section       */
/*************************************/
.other-blogs-container {
  flex-direction: column;
  padding: 0 3.2rem 0 1.6rem;
}
.other-blogs-title {
  padding-left: 1.2rem;
  margin-bottom: 2.4rem;
}
.box-shadow {
  border-radius: 5px;
  box-shadow: 0 7px 10px 0 rgb(0 0 0 / 9%);
}
/* ---> Other-list  */
.other-blogs-list {
  flex-direction: column;
  list-style-type: none;
  gap: 2.4rem;
}
.other-blog-content {
  padding-left: 1.2rem;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #bababa;
  overflow: hidden;
}
.blog-date-created {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  font-weight: 600;
}

/*************************************/
/*              Main / BLOG           */
/*************************************/
.main {
  overflow: scroll;
}
.blog-container {
  flex-direction: column;
  padding: 3.2rem 2.4rem;
}
/* ---> Title  */
.title-container {
  align-self: flex-start;
  margin-left: 3.2rem;
}
.blog-title {
  font-size: 4.4rem;
}
/* ---> img-container  */
.img-container {
  flex-direction: column;
  margin: 3.2rem auto;
  margin-top: 8rem;
  margin-bottom: 4.8rem;
}
.blog-img {
  margin-bottom: 0.8rem;
  height: 300px;
  width: 500px;
  border: none;
  border-radius: 5px;
}
.img-caption {
  font-size: 1rem;
}
/* ---> content-container  */
.content-container {
  flex-direction: column;
  gap: 2.4rem;
  margin-left: 3.2rem;
  margin-right: 2.4rem;
}
.blog-content {
  margin-left: 3.2rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #4e4e4e;
}
.first-letter {
  padding-left: 3.2rem;
  padding-right: 0.2rem;
  font-size: 3.2rem;
  font-weight: 600;
}

/*************************************/
/*          Footer Container         */
/*************************************/
.footer {
  align-items: end;
  z-index: 9999;
}
.corporation {
  font-size: 1.4rem;
  font-weight: 500;
  color: #bababa;
  margin-bottom: 1.6rem;
}
