/* 1rem = 1em = 16px */
/**************************************************************/
/*                                                           */
/*                BLOG HOME PAGE MEDIA QUERIES               */
/*                                                           */
/*************************************************************/

/*******************************/
/*  ABOVE 1232 px Small laptop  */
/******************************/
@media (max-width: 77em) {
  .main-home {
    margin-top: 8rem;
  }

  body {
    background-color: red;
  }
}

/**************************************************************/
/*                                                           */
/*                  BLOG POST MEDIA QUERIES                  */
/*                                                           */
/*************************************************************/

/*******************************/
/*  ABOVE 1136 px Small laptop  */
/******************************/

@media (max-width: 71em) {
  .personal-info-container {
    gap: 2.4rem;
  }

  .content-container {
    margin-left: 1.2rem;
  }
}

/*******************************/
/*  ABOVE 1008 px Small laptop */
/******************************/

@media (max-width: 63em) {
  .personal-info-container {
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
  }
  .social-media-list {
    gap: 2.4rem;
  }
  .bio-content {
    margin-left: 0.8rem;
    padding-right: 1.2rem;
  }
  .blog-img {
    height: 20rem;
    width: 40rem;
  }
  .blog-container {
    padding: 3.2rem 1.4rem;
  }
  .content-container {
    margin-right: 0;
  }
}

/*******************************/
/*  ABOVE 832 px Tablets */
/******************************/

@media (max-width: 52em) {
  .blog-content {
    margin-left: 1.6rem;
  }
  .nav-icons {
    font-size: 2rem;
  }
  .social-media-list {
    gap: 2.4rem;
    font-size: 1.8rem;
  }
}

/*******************************/
/*  ABOVE 832 px Smaller tablet */
/******************************/

@media (max-width: 45em) {
  .container {
    display: flex;
    flex-direction: column;
  }

  /*            POSITIONING MAIN GRID           */

  .header {
    order: 1;
  }
  .personal-info-section {
    order: 2;
    margin-top: 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  .main {
    order: 3;
    margin-top: 8rem;
    overflow: initial;
  }
  .other-blogs-section {
    order: 4;
    margin-top: 8rem;
  }
  .footer {
    order: 5;
  }

  /*        NAVEGATION FOR TABLET AND PHONE SECTION       */
  /* .nav-mob-container {
    background-color: red;
  } */
  .nav {
    width: 100%;
    height: 100vh;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    opacity: 1;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .phone-icon-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .phone-icon-nav[name="menu-outline"] {
    display: none;
  }

  /*        PERSONAL INFO SECTION       */
  .personal-info-container {
    flex-direction: row;
    align-self: flex-start;
    padding: 0 2.4rem;
  }
  .personal-img {
    height: 10.6rem;
    width: 10.6rem;
  }
  .personal-name {
    font-size: 4.4rem;
  }
  .work-place {
    font-size: 1.6rem;
  }
  .job-title {
    font-size: 1.6rem;
  }
  .personal-bio {
    grid-area: 1/2/3/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 2.4rem;
  }
  .bio-title {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
  }
  .img-container {
    margin-top: 8rem;
    margin-bottom: 2.4rem;
  }
  .bio-content {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .social-media-list {
    gap: 6.4rem;
    font-size: 3rem;
  }

  /*        OTHER BLOG SECTION       */
  .other-blogs-title {
    font-size: 2.4rem;
  }
}

/*******************************/
/*  ABOVE 544 px Smaller tablet */
/******************************/

@media (max-width: 34em) {
  /*        PERSONAL INFO SECTION       */
  .personal-img {
    height: 8.6rem;
    width: 8.6rem;
  }
  .personal-name {
    font-size: 3rem;
  }
  .work-place {
    font-size: 1rem;
  }
  .job-title {
    font-size: 1rem;
  }
  .bio-title {
    font-size: 2rem;
  }
  .bio-content {
    font-size: 1.2rem;
  }
  .social-media-list {
    font-size: 2rem;
  }

  /*         BLOG SECTION       */
  .blog-content {
    font-size: 1.4rem;
  }
  .blog-img {
    height: 15rem;
    width: 35rem;
  }
  .first-letter {
    padding-left: 0;
  }
}

/*******************************/
/*  ABOVE 448 px Smaller tablet */
/******************************/

@media (max-width: 28em) {
  /*        PERSONAL INFO SECTION       */
  .social-media-list {
    gap: 3.2rem;
    font-size: 2rem;
  }

  /*        BLOG SECTION       */
  .title-container {
    margin-left: 0;
  }
  .img-container {
    margin-top: 5rem;
  }
  .blog-img {
    height: 15rem;
    width: 30rem;
  }
}
